.account{
    width: 100%;
    height: 100vh;
    background-color: #282828;
    

}

.form-wrap{
    width: 320px;
    margin:  auto;
    padding-top: 100px;
    color: #fff;

    label{
        font-size: 14px;
        display: block;
        color: #fff;
        margin-bottom: 5px;
    }
}

